
li {
    list-style: none !important;
}

.bg-register{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url('../img/registerbg.jpg');
}

label.error {
    color: rgb(206, 0, 0);
    margin-bottom: 0 !important;
}

#registerUserForm {
    max-width: 650px;
}
